<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>
<p><%= params[:question] %></p>

<!-- answer != ""  -->


<%= @answer %>


<!-- <a href="/ask"><h2>Ask another question</h2></a> -->

<%link_to "Ask another question", ask_path%>
