<h1>Coaching#ask</h1>
<p>Find me in app/views/coaching/ask.html.erb</p>
<form action="/answer">
  <label for="question">Ask coach a question</label>
  <input type="text" id="question" placeholder="What time is it?" name="question">
  <input type="submit" value="go on!">
</form>
